PORT=3016
DB_HOST=mongodb://mongodb:27017/blog
DB_HOST_MULTILINGUAL=mongodb://mongodb:27017/blog_multilingual
JSON_LIMIT=50mb
URLENCODED_LIMIT=50mb
IP2LOCATION_FILE_NAME=
MAX_HISTORYLOGS_SIZE=1073741824